.btn {
	box-shadow:inset 0px 1px 3px 0px #5473a6;
	background-color:#5473a6;
	border-radius:5px;
	border:1px solid #5473a6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:Helvetica;
    font-size:40px;
    font-weight:bold;
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding: 20px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5473a6;
}
.btn:hover {
	background-color:#5473a6;
}
.btn:active {
	position:relative;
	top:1px;
}
body {
    background-color: #dae1e7;
}
